header {
    background-color: darkgrey;

    margin-bottom: 30px;
}

nav {
    height: 90px;
    width: 960px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: auto;
}

nav ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    width: 960px;
    margin: auto;
}

main img {
    margin-bottom: 30px;
}

main ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section img {
    margin-right: 30px;
}

p {
    height: 300px;
    overflow: auto;
}

button:hover {
    background-color: red;
  }
  
  button {
    transition: 350ms;
  }
  
  footer {
    background-color: darkgray;
    height: 90px;
    width: 100vw;
    margin: auto;
  }